<% layout('/layouts/boilerplate') -%>
<br>
<div class="row">
    <div class="col-8 offset-2">
    <h2>SignUp</h2>
    <form method="POST" action="/signup" novalidate class="needs-validation">
        <div class="mb-3">
            <label for="username" class="form-label">Username: </label>
            <input type="text"  name="username" class="form-control" required>
            <div class="valid-feedback">
                Username looks good!
            </div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email: </label>
            <input type="email"  name="email" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password: </label>
            <input type="password"  name="password" class="form-control" required>
        </div>
        <button class="btn btn-success">SignUp</button>
    </form>
    </div>
</div>